html, body{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
form{
	position : absolute;
	text-align : center;
	left:35%;
	border: 2px solid black;
	width : 30%;
	position : center;
}
table {   
	border-collapse:collapse;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}



.align_left{
	position : absolute;
	left:10%;
}

.align_right{
	position :relative;
	left:150%;
}

h1{
	text-align:center;
}